.report_con {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.report_title {
    font-size: 22px;
    font-weight: 550;
    text-transform: capitalize;
    margin-top: 5px;
}

.a {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

select {
    width: 100%;
    /* height: 30px; */
    color: rgba(62, 62, 62, 0.816);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 450;
    border-radius: 5px;
    border: none;
    outline: navajowhite;
    background-color: #c2c0c037;
    margin-top: 5px;
    cursor: pointer;
}

option {
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: rebeccapurple;
    }
}
select option:hover {
    background-color: red;
    color: white; /* Optional: Changes text color when hovering */
  }

.dec_box {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;


    & span {
        margin-top: 20px;
        width: 100%;

    }


        &::placeholder {
            height: 100%;
            font-weight: 500;
            font-size: 14px;
        }
}

.location_title {
    display: inline-block;
    margin-top: 20px;
}

.location_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: #c2c0c037;

    & input {
        width: 97%;
        height: 100%;
        padding: 5px 10px;
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
            font-weight: 500;
            font-size: 14px;
        }
    }

    & .location {
        width: 3%;
        height: 50%;
        font-size: 15px;
    }
}

.current_loc {
    margin-top: 10px;
    padding: 5px 20px;
    border: none;
    outline: none;
    color: rgba(16, 78, 193, 0.641);
    background-color: #8ac5e774;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.level_con {
    margin-top: 20px;

    & .level {
        display: block;
    }

    & button {
        margin-right: 10px;
        margin-top: 5px;
        padding: 5px 20px;
        border: none;
        outline: none;
        color: rgba(16, 78, 193, 0.641);
        background-color: #8ac5e774;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
    }
    & .upload_img{
        background-color: #c2c0c04b;
    }
}

.preview_box{
    /* border: 2px solid red; */
    padding: 20px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(82, 18, 172, 0.092);

    & span{
        font-size: 18px;
        font-weight: 500;

    }
    & p{
        font-size: 13px;
        color: rgba(0, 0, 0, 0.649);
        font-weight: 450;
        letter-spacing: -0.1px;
        word-spacing: 2px;
        margin-top: -2px;
    }
    & .btn_con{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;

        & .submit{
            padding: 5px 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: rgba(68, 5, 155, 0.888);
            color: #fff;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &:hover::after{
                bottom: 0%;
            }
            &::after{
                content: "Submit Report";
                position: absolute;
                bottom: -100%;
                left: 0;
                height: 100%;
                width: 100%;
                transition: all ease 0.28s;
                background-color: #fff;
                color: rgba(68, 5, 155, 0.888);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 450;
            }

        }
        & .edit{
            cursor: pointer;
            padding: 5px 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: rgba(67, 5, 155, 0.164);
            color: rgba(68, 5, 155, 0.888);
            position: relative;
            overflow: hidden;
            &:hover::after{
                bottom: 0%;
            }
            &::after{
                content: "Edit Profile";
                position: absolute;
                bottom: -100%;
                left: 0;
                height: 100%;
                width: 100%;
                transition: all ease 0.28s;
                background-color: #fff;
                color: rgba(68, 5, 155, 0.888);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 450;
            }

        }
    }
}
.dec_box textarea {
    width: 100%;
    height: 200px; 
    padding: 10px; 
    resize: none; 
    background-color: #c2c0c037;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

.active_Severity{
    background-color: rgb(98, 35, 180) !important;
    color: #fff !important;
}


.upload_box{
    /* border: 3px solid red; */
    & input{
        width: 100%;
        /* border: 3px solid rgb(8, 86, 195); */
        
    }
    & .image_preview{
        /* border: 2px solid red; */
        margin-top: 10px;
        height: 200px;
        width: 100%;
        aspect-ratio: 1;
        padding: 5px  5px 5px 0;
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 10px;
        overflow-y: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            height: 8px !important;
            cursor: pointer;
        }
        &::-webkit-scrollbar-thumb{
            cursor: pointer;
        }
            
        & img{
            border-radius: 10px;
            overflow: hidden;
            min-width:  180px;
            height: 100%;
            object-fit: cover;
            border: 1px solid #00000044;
        }
    }
}
.loc_info{
    /* border: 2px solid; */
    margin: 20px 0;
    height: 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;

    & .det_box1,.det_box2,.det_box3{
        width: 33%;
        /* border: 2px solid gray; */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    & span{
        /* border: 2px solid red; */
        height: 100%;
        font-size: 13.5px;
        font-weight: 450;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: start;
        color: #000000b6;
    }
    & input{
        height: 100%;
        width: 75%;
        padding: 0 10px;
        border-radius: 7px;
        border: none;
        outline: none;
        background-color: #c2c0c037;
    }
}
input[type=file]::file-selector-button {
    margin: 20px 20px 0 0;
    border: none;
    background-color: #c2c0c04b;
    padding: 10px 20px;
    border-radius: 7px;
    color: #604ade;
    cursor: pointer;
    font-weight: 500;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    color: rgba(16, 78, 193, 0.853);
        background-color: #8ac5e774;
  }

  @media (width<850px) {
    .loc_info{
        flex-direction: column !important;
        height: auto !important;
        width: 95vw;
        /* border: 2px solid red; */
        & .det_box1,.det_box2,.det_box3{
            width: 100%;
            justify-content: start;
        }
        & input{
            width: 100%;
            /* border: 2px solid red; */
        }
    }
    .dec_box textarea{
        height: 100px !important;
    }
  }