.signup_contaner{
    max-width: 1500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
.create_btn{
    background-color:  rgba(68, 5, 155, 0.888);
    color: #fff;
    border-radius: 7px;
    width: 100%;
    margin-top: 40px;
    height: 40px;
    font-weight: 450;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
        overflow: hidden;
        &:hover::after{
            bottom: 0%;
        }
        &:after{
            border-radius: 7px;
            transition: all ease 0.28s;
            content: "Create Account";
            outline: none;
            border-bottom: 2px solid rgba(68, 5, 155, 0.888);
            border-left: 2px solid rgba(68, 5, 155, 0.888);
            border-right: 2px solid rgba(68, 5, 155, 0.888);
            position: absolute;
            bottom: -110%;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            z-index: 88;
            font-weight: 600;
            color: rgba(68, 5, 155, 0.888);
        }
}
.categ_person{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    

    & .comm_cate{
        padding: 3px 20px;
        border: none;
        outline: none;
        background-color: #56abd560;
        font-weight: 450;
        border-radius: 7px;
        cursor: pointer;
        font-size: 14px;
    }
    & .rep{
    }
}
.activeCommPer{
    background-color:  rgba(68, 5, 155, 0.888) !important;
    color: #fff !important;
    
}
.area_box{
    border: none;
    border-radius: 2px;
    height: 50px;
    overflow: hidden;
    margin-top: 7px;
    transition: all ease 0.28s;
    
    & .area{
        padding: 7px 10px;
        width: 100%;
        height: 100%;
        resize: none;
        border: none;
        outline: none;
        background-color: #d3d3d352;
        font-weight: 450;
        &::-webkit-scrollbar{
            width: 4px;
        }
    }
}
.nextpage_link{
    margin-bottom: 20px;
}