.home_contaner{
    max-width: 1100px;
    /* border: 2px solid #000; */
    margin: auto;
    padding: 0 10px ;
    & h2{
        /* border: 2px solid red; */
        text-align: center;
        font-weight: 550;
        font-size: 40px;
        text-transform: capitalize;
        word-spacing: 4px;
        letter-spacing: 0.7px;
        margin: 20px 0  0 0;
        font-family: "Oswald", serif;
        animation: h2Animation 0.6s ease-in;
    }
    & .disc{
        text-transform: capitalize;
        color: rgba(30, 30, 30, 0.729);
        text-align: center;
        /* border: 2px solid gray; */
        font-size: 14px;
        font-weight: 400;
        word-spacing: 2.5px;
        margin-bottom: 25px;
        animation: pAnimation 0.6s ease-in;
    }
    
}

@keyframes h2Animation {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
}
@keyframes pAnimation {
    0%{
        /* transform: translatex(30px); */
        scale: 0;
        opacity: 0;
    }
    100%{
        /* transform: translateY(0px); */
        opacity: 1;
        scale: 1;

    }
}
@media (width<700px) {
    h4{
        font-size: 15px !important;
    }
    h2{
        font-size: 33px !important;
    }
    .disc{
        /* background-color: red; */
        font-size: 12px !important;
    }
}