.contaner{
    /* border: 2px solid red; */
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
    animation: headerAnimation 0.6s ease-out;

    & .left_header{
        /* border: 2px  solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        

        & .logo{
            font-size: 18px;
            padding: 0 10px;
            font-weight: 500;
            color: #000;
        }
        & span{
            /* border: 2px solid#000; */
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            font-weight: 450;
            color: #000000cf;
            cursor: pointer;

            text-align: center;
            position: relative;
            /* overflow: hidden; */
            margin-left: 30px;
            gap: 10px;
            &:hover::after{
                width: 100%;
            }
            & .icon{
                /* margin:0 5px  0 20px; */
                /* border: 2px solid#000; */
                font-size: 15px;
            }
            

            &::after{
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.696);
                transition: all ease 0.28s;
                border-radius: 3px;
            }

        }
    }
    & .right_header{
        /* border: 2px solid #000; */
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        & span{
            font-size: 15px;
            font-weight: 450;
            cursor: pointer;
        }
        & .login{
            position: relative;
            overflow: hidden;
            &:hover::after{
                width: 100%;
            }

            &::after{
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: rgba(68, 5, 155, 0.888);
                transition: all ease 0.28s;
            }

        }
        & .btn_sign{
            overflow: hidden;
            border-radius: 4px;
            margin-right: 20px;
        }
        & .signup{
            padding: 3px 10px;
            color: rgba(68, 5, 155, 0.888);
            position: relative;
            width: 100%;
            height: 100%;
            &:hover::after{
                bottom: 0%;
            }
            &:after{
                font-size: 13px;
                transition: all ease 0.28s;
                content: "Sign Up";
                position: absolute;
                bottom: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(255, 255, 255);
                background-color:rgba(68, 5, 155, 0.888);
            }
        }
        & .logout{
            /* border: 2px solid red; */
            padding: 2px 17px;
            color: rgba(68, 5, 155, 0.888);
            position: relative;
            width: 100%;
            height: 100%;
            /* margin-right: 20px; */
            &:hover::after{
                bottom: 0%;
            }
            &:after{
                font-size: 13px;
                transition: all ease 0.28s;
                content: "Log out";
                position: absolute;
                bottom: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(255, 255, 255);
                background-color:rgba(68, 5, 155, 0.888);
            }
        }
        & .report_btn{
            padding: 5px 15px;
            border: none;
            outline: none;
            background-color: rgba(68, 5, 155, 0.888);
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &:hover::after{
                bottom: 0%;
            }
            &:after{
                transition: all ease 0.28s;
                content: "Donate";
                border-bottom: 2px solid rgba(68, 5, 155, 0.888);
                position: absolute;
                bottom: -110%;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(255, 255, 255);
                z-index: 88;
                font-weight: 600;
                color: rgba(68, 5, 155, 0.888);
            }
        }
    }
}


/* //user logo */

.user_logo{
    color: #44059be2;
    border: 1px solid rgba(0, 0, 0, 0.268);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(99, 41, 182, 0.448);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;

    & ico,img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@keyframes headerAnimation {
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

.icon_menu{
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    color: #44059be2;
    /* display: none; */
    display: none;
}
.menu_main_con{
    padding: 20px 40px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    & a{
        color: #000000d1;
        font-size: 16px;
        font-weight: 450;
        margin-left: 10px;

        & .icon_drawer{
            margin-right: 10px;
        }
    }
    & h4{
        font-weight: 450;
    }

}
.cont_icon_box{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    /* border: 2px solid; */

}
.social_link{
    font-size: 18px;


}

@media (width<950px) {
    .contaner{
        /* background-color: red; */
    }
    .links{
        display: none;
    }
    .icon_menu{
        margin-right: 10px;
        color: #44059be2;
        display: block;
    }
    .logo_drawer{
        font-size: 20px !important;
    }
}